.popup__content_full {
    padding: 0px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background: none;
  }  