.profile__info{
    max-width: 336px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -70px;
    margin-top: 24px;
}


@media screen and (max-width: 800px) {
.profile__info {
    margin: 0 auto;
    padding-top: 26px;
    max-width: 222px;
    justify-content: center;
}
}