.profile {
  margin: 4px auto;
  padding-top: 37px;
  display: flex;
  max-width: 880px;
}

@media screen and (max-width: 940px) {
  .profile {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    margin-top: 41px;
  }
}
