.gallery {
  margin: 0 auto;
  padding: 46px 0 0 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  justify-content: center;
  justify-items: center;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  z-index: 2;
}

@media screen and (max-width: 620px) {
  .gallery {
    max-width: 282px;
    gap: 20px;
    padding: 32px 0 0 0;
  }
}
