.popup_opened {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition-delay: 0s, 0s;
  transition: opacity 0.5s;
}

.popup_opened:last-child {
  background-color: rgba(0, 0, 0, 0.9);
}