.popup__content {
  width: 430px;
  padding: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 620px) {
  .popup__content {
    max-width: 282px;
    padding: 22px 22px;
  }
}

.popup_type_popup_type_delete{
  min-height: 230px;
}