.profile__photo {
  margin: 0px;
  position: relative;
  padding: 0;
  max-width: 118.5px;
  min-height: 118.5px;
  border-radius: 50%;
  z-index: 2;
  
}

@media screen and (max-width: 800px) {
  .profile__photo {
    margin: auto;
    max-width: 119.5px;
    min-height: 119.5px;
  }
}
