/*input.css*/

.popup__input {
    width: 100%;
    padding: 0 0 9px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: var(--dark-color);
    outline: none;
    margin-bottom: 5px;
  }
  
  .popup__input_invalid {
    border-bottom: 1px solid #FF0000;
  }
  
  .login__input {
    width: 100%;
    padding: 0 0 13px 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    color: #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    outline: none;
    
  }
  
  .login__input_invalid {
    border-bottom: 2px solid #FF0000;
  }
  
  .popup__error {
    display: block;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    min-height: 29.04px;
  }
  
  .popup__error:last-of-type {
    margin-bottom: 10px;
  }
  
  .login__error {
    display: block;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    min-height: 29.04px;
  }
  
  .login__error:last-of-type {
    margin-bottom: 175px;
  }
  
  @media screen and (max-width:550px) {
    .login__error:last-of-type {
      margin-bottom: 143px;
    }
  }
  
  /*header.css*/

  .page__header {
    width: calc(880/1280*100%);
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    transition: padding-top .2s linear;
  }
  
  @media screen and (max-width: 767px) {
    .page__header {
      width: 100%;
      padding-top: 28px;
    }
  }
  
  .page__header_opened {
    padding-top: 169px;
  }
  
  .header__logo {
    display: block;
    object-fit: cover;
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
    color: var(--main-color);
  }
  
  @media screen and (max-width: 767px) {
    .header__logo {
      width: calc(103.74/320*100%);
      height: calc(24.4/320*100%);
      margin-left: calc(27/320*100%);
      margin-bottom: 30.6px;
    }
  }
  
  .header__link {
    margin-top: 6px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
  }
  
  @media screen and (max-width: 767px) {
    .header__link {
      margin-right: calc(30/320*100%);
      margin-top: calc(6/320*100%);
    }
  }
  
  .header__email-container {
    display: flex;
    align-items: flex-start;
    padding-top: 6px;
    transition: visibility .2s linear, height .2s linear;
  }
  
  @media screen and (max-width:767px) {
    .header__email-container {
      visibility: hidden;
      height: 0;
      padding-top: 0;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(84, 84, 84, .7);
    }
  }
  
  
  .header__email-container_opened {
    visibility: visible;
    height: 142px;
  }
  
  .header__email {
    margin: 0 24px 0 0;
    color: var(--main-color);
  }
  
  
  
  @media screen and (max-width:767px) {
    .header__email {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  .header__unlogin {
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
  }
  
  .header__button {
    width: 24px;
    height: 20px;
    margin: calc(7/320*100%) calc(30/320*100%) 0 0;
    display: none;
    background-color: transparent;
    padding: 0;
    border: none;
    background-image: url(../src/images/burger.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width:767px) {
    .header__button{
      display: block;
    }
  }
  
  .header__button_active {
    background-image: url(../src/images/exit.svg);
    background-size: 20px 20px;
  }
  
  /*InfoTooltip.css*/

  .popup__registration-image {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;
    background-image: url(../src/images/successful.svg);
    background-position: center;
    background-size: cover;
  }
  
  .popup__registration-image_type_error {
    background-image: url(../src/images/error.svg);
  }
  
  .popup__registration-title {
    text-align: center;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
  }
  
  @media screen and (max-width: 550px) {
    .popup__registration-title {
      font-size: 20px;
    }
  }
  
  /*RegistrationForm*/

  .page__login {
    max-width: 358px;
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 550px) {
    .page__login {
      max-width: 260px;
      padding-top: 40px;
    }
  }
  
  .login__title {
    text-align: center;
    min-height: 28px;
    margin: 0 0 50px;
    color: var(--main-color);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
  }
  
  @media screen and (max-width: 550px) {
    .login__title {
      margin-bottom: 40px;
    }
  }
  
  .login__subtitle {
    margin: 15px 0 0 0;
    text-align: center;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }
  
  .login__subtitle-link {
    text-decoration: none;
    color: var(--main-color);
  }

  /*Form*/

  .popup__form {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .popup__submit {
    display: block;
    width: 358px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: var(--main-color);
    background-color: var(--dark-color);
    align-self: center;
    transition: background-color .3s linear;
  }
  
  @media screen and (max-width: 550px) {
    .popup__submit {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 16.94px;
    }
  }
  
  @media (hover: hover) and (pointer: fine) {
    .popup__submit:hover {
      background-color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
  }
  
  .popup__submit_disable {
    background-color: transparent;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    opacity: .2;
    cursor: none;
    pointer-events: none;
  }
  
  /*.popup__submit_loading {
    background-image: url(../../image/load.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
  }*/
  
  .login__button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    cursor: pointer;
    transition: background-color .3s linear;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .login__button:hover {
      background-color: rgba(225, 225, 225, 0.85);
      cursor: pointer;
    }
  }
  
  .login__button_disable {
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    opacity: .5;
    cursor: none;
    pointer-events: none;
  }
  
  /*.login__button_loading {
    background-image: url(../../image/load.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
  }*/
  
  /*RegistrationForm*/

  .page__login {
    max-width: 358px;
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 550px) {
    .page__login {
      max-width: 260px;
      padding-top: 40px;
    }
  }
  
  .login__title {
    text-align: center;
    min-height: 28px;
    margin: 0 0 50px;
    color: var(--main-color);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
  }
  
  @media screen and (max-width: 550px) {
    .login__title {
      margin-bottom: 40px;
    }
  }
  
  .login__subtitle {
    margin: 15px 0 0 0;
    text-align: center;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }
  
  .login__subtitle-link {
    text-decoration: none;
    color: var(--main-color);
  }
  