@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__pen-button/profile__pen-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__img/card__img.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__place/card__place.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__trash/card__trash.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_type/_image/popup_type_image.css);
@import url(./blocks/popup/_type/_tooltip/popup_type_tooltip.css);
@import url(./blocks/popup/_type/_delete/popup_type_delete.css);
@import url(./blocks/popup/__image-full/popup__image-full.css);
@import url(./blocks/popup/__image-tittle/popup__image-tittle.css);
@import url(./blocks/popup/__content/_full/popup__content_full.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__subtitle/form__subtitle.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/_disabled/form_disabled.css);
@import url(./blocks/error-message/error-message.css);
@import url(./variables/variables.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__login/page__login.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__email/__email-container/header__email-container.css);
@import url(./blocks/header/__unlogin/header__unlogin.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
@import url(./blocks/popup/__registration-title/popup__registration-title.css);
@import url(./blocks/popup/__tooltip/_message/popup__tooltip_message.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__tooltip/_image/popup__tooltip_image.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__error/login__error.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__subtitle/login__subtitle.css);
@import url(./blocks/login/__button/login__button.css);